<div class="max-w-[768px] mx-auto py-8 px-6 bg-white rounded-md shadow-lg mt-20">
<%= form_with(
  model: search, 
  class: "contents",
  data: { controller: "search", action: "input->search#submit", search_target: "form" },
  ) do |form| %>

  <div class="my-5">
    <%= form.label :query %>
    <%= form.text_field :query, placeholder: "Search", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Search", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
</div>